body{
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
}
#root{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    --toastify-color-light: #2a1435;
    --toastify-color-success: #e4aeff;
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-text-color-light: #e4aeff;
    --toastify-toast-min-height: 100px;
    --toastify-toast-width: 400px;
    --toastify-color-progress-success: var(--toastify-color-success)
}
.Toastify__toast-body {
font-size: 2rem;
font-weight: 100;
}

.Toastify__toast{
    border: 2px solid #e4aeff;
    text-align: center;
    margin-bottom: 4rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}

.logo{
height: 4rem;
filter: brightness(0.8);
padding: 2rem;
}


.logo:hover{
    filter: brightness(0.99);
}

.header{
    display: flex;
    height: auto;
    padding: 0 1rem;
    width: 100%;
    justify-content: start;
    background-color: #2a1435;
}

.landing{ 
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
}

.landing video{
    min-width: 100%;
    height: auto;
}

.landing__animate{
    position: absolute;
    font-size: 2.5rem;
    top: 250px;
    left: 150px;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
}

.landing__animate h1{
    font-weight: 100;
    font-style: italic;
    text-shadow: #4c1c4c 2.5px 2px;
}

.landing__animate {
	-webkit-animation: fade-in-right 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 3300ms both;
	        animation: fade-in-right 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 3300ms both;
}

@-webkit-keyframes fade-in-right {
    0% {
    -webkit-transform: translateX(350px);
            transform: translateX(350px);
            opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
                opacity: 1;
    }
}
    @keyframes fade-in-right {
        0% {
        -webkit-transform: translateX(350px);
                transform: translateX(350px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
    }
}


.landing__link{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    position: absolute;
    top: 520px;
    left: 150px;
    font-weight: 100;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.landing__link h2{
    margin-bottom: 5%;
    font-size: 1.3rem;
    font-weight: 200;
}

.landing__link a{
    font-size: 2rem;
    margin-top: 10rem;
    color: #ffffff;
    text-decoration-color: #e4aeff;
    text-decoration-thickness: 2px;
}

.landing__link a:hover{
    color: #e4aeff;
}

.landing__link {
	-webkit-animation: fade-in-right 1000ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 4500ms both;
	        animation: fade-in-right 1000ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 4500ms both;
}

@-webkit-keyframes fade-in-right {
    0% {
    -webkit-transform: translateX(350px);
            transform: translateX(350px);
            opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
                opacity: 1;
    }
}
    @keyframes fade-in-right {
        0% {
        -webkit-transform: translateX(350px);
                transform: translateX(350px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
    }
}


.header__nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    align-items: center;
    color: rgba(224, 96, 224, 0.712);
}

.header__nav a{
    color:  #e4aeff;
    font-size: 1.5rem;
    filter: brightness(0.8);
    text-decoration: none;
}

.header__nav a:hover{
    filter: brightness(0.99);
}

.navBar{
    width: 100%;
    max-height: 2rem;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 1% 0;
    font-size: 1.3rem;
    list-style: none;
}

.navBar a{
    text-decoration: none;
    color: #e4aeff6b;    
    border-radius: 5%;
}

.navBar a:hover{
    color: #e4aeff;
    text-shadow: #2a1435 2px 2px;
}

.productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 60rem;
    justify-content: center;
    background-color: #ffff;
}

.producto{
    border: 1px solid #2a1435;
    box-shadow: 2px 2px #4c1c4c;
    text-align: center;
    padding: 1%;
    margin: 3% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20em;
    text-decoration: none;
    color: rgb(76, 28, 76);
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    max-height: 30rem;
}

.producto:hover{
    box-shadow: 4px 10px #4c1c4c;
}

.producto h2{
    width: 60%;
    text-align: center;
    font-size: 1.2rem;
}

.producto img {
    width: 15rem;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #4c1c4c;
    min-height: 45rem;
}

.detail{
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: white;
    align-items: center;
    min-height: 40rem;
}

.detail button {
    background-color: rgb(76, 28, 76);
    color: rgba(224, 96, 224, 0.712);
    padding: 1% 2%;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 500;
}

.detail button:hover{
    background-color: rgba(224, 96, 224, 0.712);
    color: rgb(76, 28, 76);
    border: rgb(76, 28, 76) 2px solid;
    cursor: pointer;
}

.detail__imagen{
    margin: 0 5%;
}

.detail__imagen img{
    width: 20rem;
}

.detail__text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.detail__text p{
    font-size: 1rem;
    color: #2a1435;
}

.detail__text h2 {
    font-size: 2rem;
    margin: 1% 0;
    color: rgb(76, 28, 76);
}

.detail__text h3 {
    font-size: 2rem;
    color: rgb(76, 28, 76);
}

.counter{
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}

.counter__inside{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.counter__inside button{
    margin: 5%;
    padding: 1.5%;
    font-weight: 900;
    color: #e4aeff;
}

.counter__inside p{ 
    font-size: 1.3rem;
    font-weight: 900;
}

.counter__insideDos{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-size: 2rem;
}

.counter__insideDos button{
    font-size: 1.4rem;
}

.carrito {
    width: 80%;
    margin: 0% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.156);
    padding: 1%;
}

.producto__carrito{
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 20rem;
    border: #9e9e9e solid 2px;
    color: #2a1435;
    background-color: #ffffff
}

.producto__carrito img{
    height: 80%;
    width: auto;
    margin: 2%;
}

.producto__carrito button{
    background-color: #2a1435;
    color: #e4aeff;
    padding: 2% 2%;
    border: 3px solid #e4aeff;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2%;
}

.producto__carrito button:hover{
    background-color: #e4aeff;
    color: #2a1435;
    border: #2a1435 2px solid;
    cursor: pointer;
}


.carrito__texto{
    display: flex;
    text-align: start;
    flex-direction: column;
    padding: 1%;
    width: 30rem;
    font-size: 1.5rem;
    justify-content: space-around;
    color: #2a1435;
}

.carrito h2{
    font-size: 3rem;
    margin: 2% 0;
    color: #e4aeff;
    text-shadow: black 2px 2px;
}

.carrito__total{
    width: 100%;
    text-align: start;
}

.carrito__total h2{
    color: rgb(204, 110, 204);
    text-shadow: black 3px 2px 2px;
}

.carrito__total button {
    background-color: rgba(224, 96, 224, 0.712);
    color: rgb(76, 28, 76);
    padding: 2% 2%;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2%;
}

.carrito__total button:hover {
    background-color: rgb(255, 255, 255);
    color: rgba(224, 96, 224, 0.712);
    border: rgb(76, 28, 76) 2px solid;
    cursor: pointer;
}

.carrito__empty{
    font-size: 2rem;
    color: rgb(76, 28, 76);
    text-align: center;
}

.carrito__empty span{
    font-size: 10rem;
}

.carga{
    font-size: 2rem;
    color: #e4aeff;
    text-align: center;
    align-items: center;
}

.carga a{
    color: #e4aeff;
}

.checkout {
    border: 10px double #4c1c4c;
    border-radius: 25px;
    color: #4c1c4c;
    background-color: white;
    height: 70%;
    margin: 5%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
}

.checkout {
    width: 60%;
}

.checkout form{
    width: 30%;
}

.checkout input{
    width: 90%;
    height: 1.3rem;
    margin: 5%;
}


.footer{
    align-self: flex-end;
    background-color: rgb(76, 28, 76);
    width: 100%;
    color: white;
    text-align: center;
    font-style: italic;
    padding: 0 0.7rem;
    font-size: 0.8rem;
    font-weight: 100;
}
