body{
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    height: 100vh;
}
#root{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.logo{
height: 4rem;
filter: brightness(0.8);
padding: 2rem;
}


.logo:hover{
    filter: brightness(0.99);
}

.header{
    display: flex;
    height: auto;
    padding: 1rem;
    width: 100%;
    justify-content: start;
    background-color: #2a1435;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    align-items: center;
    color: rgba(224, 96, 224, 0.712);
}

.header__nav a{
    color:  #e4aeff;
    font-size: 1.5rem;
    filter: brightness(0.8);
    text-decoration: none;
}

.header__nav a:hover{
    filter: brightness(0.99);
}

.productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 5%;
    background-color: #ffff;
}

.producto{
    border: 1px solid #2a1435;
    box-shadow: 2px 2px #4c1c4c;
    text-align: center;
    padding: 1%;
    margin: 3% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20em;
    text-decoration: none;
    color: rgb(76, 28, 76);
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    max-height: 30rem;
}

.producto:hover{
    box-shadow: 4px 10px #4c1c4c;
}

.producto h2{
    width: 60%;
    text-align: center;
    font-size: 1.2rem;
}

.producto img {
    width: 15rem;
}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #4c1c4c;
    height: 100%;
    overflow: scroll;
}

.detail{
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: white;
    width: 100%;
    align-items: center;
    height: auto;
    margin: 0 5%;
}

.detail button {
    background-color: rgb(76, 28, 76);
    color: rgba(224, 96, 224, 0.712);
    padding: 2% 2%;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 500;
}

.detail button:hover{
    background-color: rgba(224, 96, 224, 0.712);
    color: rgb(76, 28, 76);
    border: rgb(76, 28, 76) 2px solid;
    cursor: pointer;
}

.detail__imagen{
    margin: 0 5%;
}

.detail__imagen img{
    width: 20rem;
}

.detail__text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.detail__text h2 {
    font-size: 2rem;
    margin: 1% 0;
    color: rgb(76, 28, 76);
}

.detail__text h3 {
    font-size: 2rem;
    color: rgb(76, 28, 76);
}

.counter{
    display: flex;
    flex-wrap: wrap;
}

.counter__inside{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
}

.counter__insideDos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-size: 2rem;
}

.counter__insideDos button{
    font-size: 1.4rem;
    margin: 3% 0;
}

.carrito {
    width: 80%;
    margin: 0% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.156);
    padding: 1%;
}

.producto__carrito{
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: #2a1435 solid 5px;
    color: #2a1435;
    background-color: #ffffff
}

.producto__carrito button{
    background-color: #2a1435;
    color: #e4aeff;
    padding: 2% 2%;
    border: 3px solid #e4aeff;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2%;
}

.producto__carrito button:hover{
    background-color: #e4aeff;
    color: #2a1435;
    border: #2a1435 2px solid;
    cursor: pointer;
}

.producto__carrito img{
    margin: 2%;
    width: 20rem;
}

.carrito__texto{
    display: flex;
    flex-direction: column;
    padding: 5%;
    font-size: 1.5rem;
    justify-content: space-around;
    color: #2a1435;
}

.carrito h2{
    font-size: 3rem;
    margin: 2% 0;
    color: #e4aeff;
    text-shadow: black 2px 2px;
}

.carrito__total{
    width: 100%;
    text-align: start;
}

.carrito__total h2{
    color: rgb(204, 110, 204);
    text-shadow: black 3px 2px 2px;
}

.carrito__total button {
    background-color: rgba(224, 96, 224, 0.712);
    color: rgb(76, 28, 76);
    padding: 2% 2%;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2%;
}

.carrito__total button:hover {
    background-color: rgb(255, 255, 255);
    color: rgba(224, 96, 224, 0.712);
    border: rgb(76, 28, 76) 2px solid;
    cursor: pointer;
}

.carrito__empty{
    font-size: 2rem;
    color: rgb(76, 28, 76);
    text-align: center;
}

.carrito__empty span{
    font-size: 10rem;
}

.carga{
    font-size: 2rem;
    color: #e4aeff;
    text-align: center;
    align-items: center;
}

.carga a{
    color: #e4aeff;
}

.checkout {
    border: 5px solid #e4aeff;
    border-radius: 25px;
    color: #4c1c4c;
    background-color: white;
    height: 70%;
    margin: 5%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
}

.checkout input{
    width: 100%;
    margin-top: 4%;
}

.checkout select{
    margin-top: 4%;
}

.footer{
    align-self: flex-end;
    background-color: rgb(76, 28, 76);
    width: 100%;
    color: white;
    text-align: center;
    padding: 1rem;
}

.footer a{
    color: #e4aeff;
    font-size: 1rem;
    margin: 0 2%;
    text-decoration: none;
}